.child-container{
    width: 100%;
    background: linear-gradient(110deg, #fd953bc2 60%, #ffed4b 60%);
    padding: 10px;
    box-shadow: 4px 4px 5px slategrey;
    border-radius: 5px;
    min-width: 50px;
    overflow-x: hidden;
}